.heading {
 background-image: url('../backgrounds/h_img.jpg');
 width: 100%;
 height: 400px;
 background-size: 100% 100%;
 color: beige;
 text-align: center;
}

.logo {
    padding-top: 5%;
}

.about-us {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.about-us p {
    align-content: center;
    font-weight: 500;
    font-size: 12px;
}

.services {
    background-image: url('../backgrounds/s_image.jpg');
    width: 100%;
    height: 250px;
    background-size: 100% 100%;
    color: beige;
    text-align: center;
}

.services-content {
    padding-top: 5%;
}

.services p {
    align-content: center;
    font-weight: 500;
    font-size: 12px;
}

.what-we-do {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.what-we-do p {
    align-content: center;
    font-weight: 500;
    font-size: 12px;
}