.heading {
  background-image: url("../backgrounds/h_img.jpg");
  width: 100%;
  height: 400px;
  background-size: 100% 100%;
  color: beige;
  text-align: center;
}

.logo {
  padding-top: 5%;
}

.about-us {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.about-us p {
  align-content: center;
  font-weight: 500;
  font-size: 12px;
}

.services {
  background-image: url("../backgrounds/s_image.jpg");
  width: 100%;
  height: 250px;
  background-size: 100% 100%;
  color: beige;
  text-align: center;
}

.services-content {
  padding-top: 5%;
}

.services p {
  align-content: center;
  font-weight: 500;
  font-size: 12px;
}
.what-we-do {
  text-align: center;
  padding-top: 15px;
}

.portifolio {
  text-align: center;
  padding-top: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

.portifolio img {
  max-width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-us {
  background-image: url("../backgrounds/c_image.jpg");
  width: 100%;
  height: 300px;
  background-size: 100% 100%;
  color: beige;
  text-align: center;
}

.form {
  padding-top: 5%;
}

.socialIcons {
    padding-top: 3%;
}