.heading {
  background-image: url("../backgrounds/h_img.jpg");
  width: 100%;
  height: 400px;
  background-size: 100% 100%;
  color: beige;
  text-align: center;
}

.logo {
  padding-top: 5%;
}

.about-us {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.about-us p {
  align-content: center;
  font-weight: 500;
  font-size: 12px;
}

.services {
  background-image: url("../backgrounds/s_image.jpg");
  width: 100%;
  height: 250px;
  background-size: 100% 100%;
  color: beige;
  text-align: center;
}

.services-content {
  padding-top: 5%;
}

.services p {
  align-content: center;
  font-weight: 500;
  font-size: 12px;
}
.what-we-do {
  text-align: center;
  padding-top: 15px;
}

.portifolio {
  text-align: center;
  padding-top: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

.portifolio img {
  max-width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-us {
  background-image: url("../backgrounds/c_image.jpg");
  width: 100%;
  height: 300px;
  background-size: 100% 100%;
  color: beige;
  text-align: center;
}

.form {
  padding: 5%;
  background: transparent;
}

.socialIcons img {
  max-width: 100%;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

#design {
  display: none;
}

#development {
  display: none;
}

#product {
  display: none;
}

#work4, #work3, #work2 , #work1, #work5, #work6, #work7, #work8{
  position: relative;
  text-align: center;
  color: white;
}

#work4pop, #work3pop, #work2pop  , #work1pop, #work5pop, #work6pop, #work7pop, #work8pop {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: #000;
  padding: 4%;
}
